# The encryption key. Must be a string of 32 characters.
APP_KEY=
APP_URL=
APP_LOCALE=en
APP_ALLOW_REGISTRATION=true
APP_ENABLE_EMAIL_VERIFICATION=false
APP_ENABLE_PASSWORD_RESET=false

LOG_CHANNEL=stdout
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=survey-db
DB_PORT=5432
DB_DATABASE=survey
DB_USERNAME=postgres
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

OIDC_ENABLED=false
OIDC_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
